body{
    background-color:rgba(17, 14, 8, 0.914);
    height: 100vh;
    overflow-x: hidden;
}

/*navbar*/

.mainnavbar{
    background-color: rgba(28, 21, 8, 0.914);
    color: goldenrod;
    display:flex;
    justify-content: space-between;
    flex-wrap: center;
}

.image-navbar{
    width: 100px;
}

.nav-link{
    color: goldenrod !important;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.nav-link::after {
    content:'';
    width:0%;
    height:3px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: aqua;
    transition: 0.6s;
}

.nav-link:hover::after {
    width:100%;
}

.collapse{
    flex-grow: unset;
}
@media(max-width:768px){
    .nav-link:hover::after {
        width:20%;
    }
}


/*home*/

.section-homeimage img{
    width: 100%;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid #fff;
    align-items: center;
}

.home{
    background-color: #071622;
    height: 100vh;
    display: flex;
    align-items: center;   
}

.start{
    font-size: 70px;
    color: goldenrod;
    text-align: center;
}

.name{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
}


.welcome{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: goldenrod;
}

@media(max-width:768px){
    .name{
        font-size: 40px;
    }
    .welcome{
        font-size: 20px ;
    }
    .section-homeimage img{
        display:flex;
        margin: auto;
        width: 65%;
        height: auto;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

@media (min-width:768px){
    .section-homeimage img{
        display:flex;
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

/*footer*/
.fontawesome-section{
    align-items: center;
    justify-items: center;   
}

.portfolio-footer{
    align-items: center;
    justify-items: center;    
}

/*aboutme*/

#about{
    display: flex;
    align-items: center;   
}

.heading-aboutme{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.h2-intro{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.h2-intro span{
    color: pink;
}

.pronounces{
    color:white;
    font-size: 20px;
}

.aboutme-image{
    height:100%;
    width: 80%;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid #fff;
    align-items: center;
}

@media (max-width:768.1px){
    .aboutme-image{
        display:flex;
        margin: auto;
        width: 100%;
        height: auto;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}


@media (min-width:768px){
    .aboutme-image{
        display:flex;
        margin: auto;
        width: 80%;
        height: 70%;
        margin-top: 10%;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

.intro1{
    font-size: 20px;
    justify-items: center;
    text-align: left;
    color: white;
}

.intro2{
    font-size: 20px;
    justify-items: center;
    text-align: left;
    color: white;
}

.personal{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.table1{
    color:goldenrod;
}

.professional{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.table2{
    color:goldenrod;
}


/*experience*/

.exerience{
    background-color: #071622; 
}

.experience-image{
    height:100%;
    width: 80%;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid #fff;
    align-items: center;
}

@media (max-width:768px){
    .experience-image{
        display:flex;
        margin: auto;
        width: 100%;
        height: auto;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

@media (min-width:768px){
    .experience-image{
        display:flex;
        margin: auto;
        width: 80%;
        height: 70%;
        margin-top: 10%;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid #fff;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

.heading-experience{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.experience-intro1{
    font-size: 20px;
    justify-items: center;
    text-align: left;
    color: white;
}

.skills{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.table3{
    color:#071622;
}

.designations{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.education{
    color:white;
    font-family: 'Roboto', sans-serif;
}

.table4{
    color:#071622;
}

.table5{
    color:#071622;
}

/*project*/

#projects{
    align-items: center; 
    display: flex;
    display: inline-flex;
}

.heading-project{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.project-1{
    border-color: black;
    background-color: goldenrod;
    width: 100%;
}
.project-2{
    border-color: black;
    background-color: goldenrod;
    width: 100%;
}
.project-3{
    border-color: black;
    background-color: goldenrod;
    width: 100%;
}

.project-body{
    background-color: goldenrod;
    width: 100%;
    height : 60%;
    margin-bottom: 20%;
}

.heading-insiideproject{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.pro-image{
    height: 200px;
}

/*contact form*/

.icon-section{
    display: flex;
}

.textfor-icon{
    color: goldenrod;
    margin-left: 30px;
}

.errors{
    display: none;
}

.submits{
    display: none;
}

.missingdetails {
    font-weight: bold;
    margin-top: 10px;
}

.submitmessage {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color:rgb(109, 13, 13)
}

.contact{
    background-color: #071622;
    display: flex;
    align-items: center; 
}

.contactme-image{
    width: 80%;
    height:auto;
    border-radius: 10%;
    align-content: center;
    overflow: hidden;
    border: 5px solid rgb(109, 13, 13);
    align-items: center;
    margin-bottom: 50px;
}

.inside-contact{
    text-align: center;
}

.heading-contactme{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: goldenrod;
}

.contact-section{
    justify-content: center;
    align-content: center;
    align-self: center;
}